// ---------------------------------------------------------===
// Typography
// ---------------------------------------------------------===

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  line-height: 1.25;
  margin: 0 0 0.7em;
}

p {
  margin: 0 0 1em;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
