// ---------------------------------------------------------===
// Variables
// ---------------------------------------------------------===

// Colors
$bg-primary: rgb(255, 255, 255);
$bg-inactive: #f8f8f8;

$text-active: #ef4f5f;
$text-inactive: #696969;

$zomato-gray-primary: #828282;
$zomato-gray-secondary: rgb(207, 207, 207);
$zomato-gray-disabled: #9c9c9c;

$zomato-red: #ff7e8b;

$border-white: rgb(232, 232, 232);
$primary-box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 8px;
