.explore-card {
  margin: 12px 0px 24px 0px;
  padding: 10px;

  border: 1px solid transparent;
  border-radius: 15px;

  &:hover {
    background-color: $bg-primary;
    border: 1px solid $border-white;
  }

  .expore-card__image-wrapper {
    height: 248px;
    width: 328px;

    border-radius: 15px;

    position: relative;

    .explore-card__image {
      height: 100%;
      width: 100%;

      object-fit: cover;
      border-radius: 15px;
    }

    .explore-card__delivery-time {
      position: absolute;
      right: 10px;
      bottom: 10px;

      background-color: $bg-primary;
      backdrop-filter: blur(4px);
      opacity: 0.8;

      font-weight: 600;
      font-size: 12px;
      padding: 2px 5px 3px;

      border-radius: 4px;
    }

    .explore-card__offer {
      color: $bg-primary;

      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      white-space: nowrap;

      padding: 0px 6px;

      border-radius: 0px 2px 2px 0px;

      text-overflow: ellipsis;
      overflow: hidden;
    }

    .explore-card__offer--discount {
      position: absolute;
      left: 0px;
      bottom: 14px;

      background-color: $tag-blue;
    }

    .explore-card__offer--pro {
      position: absolute;
      left: 0px;
      bottom: 40px;

      background-color: $tag-red;
    }

    .explore-card__offer--gold {
      position: absolute;
      left: 0px;
      bottom: 14px;

      background-color: $tag-red;
    }
  }

  .explore-card__details-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px 6px;

    .explore-card__name {
      max-width: 200px;

      font-size: 18px;
      font-weight: 600;

      color: $text-heading;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    .expore-card__rating {
      height: 24px;

      padding: 0px 8px;

      font-size: 13px;
      font-weight: 600;

      color: $bg-primary;
      background-color: $tag-green;

      border-radius: 6px;

      & i {
        font-size: 10px;
        margin-left: 2px;
      }
    }

    .explore-card__cuisines {
      max-width: 56%;

      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 14px;
      white-space: nowrap;

      .explore-card__cuisine-tag {
        margin-right: 4px;

        color: $text-inactive;
      }
    }

    .explore-card__approx-price {
      font-size: 14px;

      color: $text-inactive;
    }
  }

  .explore-card__bottom-image-text-wrapper {
    display: flex;
    align-items: center;
    max-width: 100%;

    .explore-card__bottom-text {
      max-width: 200px;

      margin: 0;
      margin-left: 8px;

      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;

      color: $text-inactive;
    }
  }

  .explore-card__separator {
    height: 1px;
    margin: 10px 0px 5px;

    background-color: $border-white;
  }
}
